@import 'nib'

@import './mixins.styl'

@import './foundation/variables.styl'
@import './foundation/base.styl'
@import './foundation/typography.styl'
@import './foundation/structure.styl'
@import './foundation/btns.styl'
@import './foundation/forms.styl'
@import './foundation/animation.styl'

@import './components/modal.styl'
@import './components/header.styl'
@import './components/signup.styl'

// @import './layout/task-create.styl'
// @import './layout/task-current.styl'
// @import './layout/task-collection.styl'
@import './layout/home.styl'
@import './layout/tasks.styl'
@import './layout/next-task.styl'