// //========================================================
// //  Task Create widget
// //========================================================
// .task-create__intro
//   max-width 500px
//   margin 0 auto
//   display block
//   color #ffffff
//   margin-bottom 50px
//   font-size 16px
//   p:nth-of-type(1)
//     animation fadeIn 3s
//   p:nth-of-type(2)
//     opacity 0
//     animation fadeIn 3s 1s
//     animation-fill-mode forwards

// @media screen and (min-width: 680px)
//   .task-create__intro
//     p
//       font-size 20px
//       line-height 31px

// .task-create
//   padding 20px 0px 70px 0px
//   label
//     float left
//     margin-right 15px
//     border-radius 3px
//   .input-time
//     float left
//     margin-right 15px

// @media screen and (min-width: 680px)
//   .task-create
//     padding 50px 0px 215px 0px


// @media screen and (max-width: 680px)
//   .task-create__title
//     width 100%
//     margin-bottom 0px
//     border-bottom 1px solid #F7F7F7
//     overflow hidden
//     border-radius 0px !important
//     input
//       border-radius 3px 3px 0px 0px

//   .task-create__estimate
//     width 100%
//     margin-bottom 15px
//     border-radius 0px 0px 3px 3px
//     overflow hidden

//   .task-create__start
//     width 100%
//     text-align center

// @media screen and (min-width: 680px)
//   .task-create__title
//     width responsive(380, 780)
//     margin-right responsive(20, 780)
//     opacity 0
//     animation fadeInDown 1s 2s
//     animation-fill-mode forwards
//     border-radius 3px
//     overflow hidden

//   .task-create__estimate
//     width responsive(220, 780) !important
//     margin-right responsive(20, 780)
//     opacity 0
//     animation fadeInDown 1s 2.5s
//     animation-fill-mode forwards
//     border-radius 3px
//     overflow hidden

//   .task-create__start
//     width responsive(140, 780)
//     opacity 0
//     animation fadeInDown 1s 3s
//     animation-fill-mode forwards
//     transition transform .3s

// //========================================================
// //  No animation
// //========================================================

// .no-animation
//   .task-create__intro
//     p
//       animation fadeIn .3s
//       animation-fill-mode forwards
//   .task-create__title
//   .task-create__estimate
//   .task-create__start
//     animation fadeIn .3s
//     animation-fill-mode forwards