// //========================================================
// //  Task current widget
// //========================================================
// .task-current
//   padding 40px 0px 70px 0px

// .task-current__title
// .task-current__project
//   text-align center
//   margin 0

// .task-current__title
//   margin-bottom 100px
//   color #ffffff

//   background #233249
//   font-size 37px !important

// .task-current__pause
// .task-current__play
// .task-current__finish
//   width 100%
//   margin-bottom 10px

// .task-current__finish
//   @extends .btn--primary

// .task-current__time
//   color #ffffff
//   font-size 28px

// //========================================================
// //  Progress
// //========================================================
// .task-current__progress
//   width 100%
//   height 6px
//   display block
//   background #455878
//   margin-bottom 100px
//   border-radius 3px

// @media screen and (max-width: 680px)
//   .task-current__progress
//     width 80%
//     margin 0 auto 90px auto
//     clearfix()


// .task-current__progress-bar
//   background $colorGreen
//   transition background .3s
//   height 6px
//   display block
//   position relative
//   border-radius 3px
//   width 0%
//   &::after
//     position absolute
//     width 25px
//     height 25px
//     display block
//     border-radius 50%
//     content ''
//     background #233249
//     border 5px solid $colorGreen
//     transition border .3s
//     top -15px
//     right -17px

// .is-active
//   .task-current__progress-bar
//     background-color $colorBlue
//     background-image linear-gradient(top, #fff 0%, #000 100%)
//     background-size 20px 20px
//     animation progress-bar-stripes 2s linear infinite
//     &::after
//       border-color $colorBlue

// @css {
//   .is-active .task-current__progress-bar{
//     background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
//   }
// }

// @keyframes progress-bar-stripes
//   0%
//     background-position 20px 0
//   100%
//     background-position 0 0


// .is-overdue
//   .task-current__progress-bar
//     background $colorRed
//     &::after
//       border-color $colorRed


// .task-current__time
// .task-current__estimate
//   position absolute
//   text-align center
//   top -67px
//   right 0px
//   width 200px
//   margin-right -100px

// .task-current__estimate
//   top 34px


// @media $mediaTablet
//   .task-current__progress
//     margin-bottom 150px
//     opacity 0
//     animation fadeInDown 1s
//     animation-fill-mode forwards

//   .task-current__title
//     margin-bottom 160px
//     opacity 0
//     animation fadeInDown 1s 1s
//     animation-fill-mode forwards


//   .task-current__time
//     opacity 0
//     animation fadeIn .7s 1.5s
//     animation-fill-mode forwards

//   .task-current__estimate
//     opacity 0
//     animation fadeIn .7s 2s
//     animation-fill-mode forwards

// .task-current__actions
//   clearfix()


// //========================================================
// //  Actions
// //========================================================

// .task-current__pause
//   @extends .btn--success

// .task-current__pause
//   display none

// .is-active
//   .task-current__pause
//     display block
//   .task-current__play
//     display none


// @media $mediaTablet
//   .task-current__actions
//     max-width 460px
//     margin 0 auto

//   .task-current__pause
//   .task-current__play
//     width responsive(220, 460)
//     margin-right responsive(15, 460)
//     float left
//     opacity 0
//     animation fadeInDown .5s 2.5s
//     animation-fill-mode forwards

//   .task-current__finish
//     width responsive(220, 460)
//     float left
//     opacity 0
//     animation fadeInDown .5s 3s
//     animation-fill-mode forwards

// .no-animation
//   .task-current__pause
//   .task-current__play
//     opacity 1
//     animation none