// .tasks
//   padding 15px 0px


// @media $mediaTablet
//   .tasks
//     opacity 0
//     animation fadeInDown .5s 5s
//     animation-fill-mode forwards

// .task-single
//   overflow hidden
//   margin-bottom 25px
//   position relative
//   border-radius 3px
//   background #1F2D44

// .task-single__desc
//   padding 15px
//   clearfix()
//   display block

// .task-single__title
//   font-size 29px
//   color #ffffff
//   font-weight 600
//   margin-top 6px

// @media screen and (min-width: 680px)
//   .task-single__desc
//     padding 20px 20px 5px 20px
//   .task-single__title
//     font-size 24px
//     width 65%
//     float left

// //========================================================
// //  Times
// //========================================================
// .task-single__times
//   float right
//   dl
//     display block
//     clearfix()
//     margin-top -5px
//   dl
//   dt
//   dd
//     margin 0
//     padding 0
//   dt
//   dd
//     width 50%
//     float left
//   dt
//     text-align right
//     padding-right 10px
//     font-size 12px
//     font-weight 800
//     text-transform uppercase
//     line-height 1px
//     padding-top 12px
//   dd
//     font-size 18px
//     font-weight 800

// .task-single__time
//   color #ffffff

// .task-single__estimate
//   color #c5ccd1

// @media screen and (min-width: 680px)
//   .task-single__times
//     width 35%


// //========================================================
// //  Progress bar
// //========================================================

// .task-single__progress__wrapper
//   margin 5px 15px 15px 15px

// .task-single__progress
//   width 100%
//   height 8px
//   display block
//   background #233249
//   border-radius 3px

// .task-single__progress-bar
//   background $colorSuccess
//   transition background .3s
//   height 8px
//   display block
//   position relative
//   border-radius 3px
//   width 0%

// .is-overdue
//   .task-single__progress
//     background $colorOverdue

// .is-active
//   .task-single__progress-bar
//     background $colorBlue

// //========================================================
// //  Delete
// //========================================================
// .task-single__delete
//   color $colorTypeSecondary
//   cursor pointer
//   position absolute
//   top 7px
//   right 15px
//   font-size 22px
//   transition color .3s
//   &:hover
//     color $colorBlue


// // .tasks
// //   background-color #dde4e8
// //   padding 15px 0px
// //   // &:empty
// //   //   opacity 0


// // @media $mediaTablet
// //   .tasks
// //     opacity 0
// //     animation fadeInDown .5s 4s
// //     animation-fill-mode forwards

// // .task-single
// //   overflow hidden
// //   margin-bottom 15px
// //   position relative
// //   border-radius 3px
// //   background #ffffff

// // .task-single__desc
// //   padding 15px
// //   display block

// // .task-single__title
// //   font-size 20px
// //   color #768690
// //   font-weight 600

// // @media screen and (min-width: 680px)
// //   .task-single__desc
// //     padding 20px
// //   .task-single__title
// //     font-size 24px

// // .task-single__time
// // .task-single__estimate
// // .task-single__delete
// // .task-single__date
// //   font-size 16px
// //   width 50%
// //   display block
// //   float left
// //   strong
// //     color #c5ccd1
// //     display block
// //     text-transform uppercase
// //   span
// //     color #768690
// //     display block
// //     font-weight 800

// // .task-single__delete
// //   display none
// //   .task-single__delete__btn
// //     float right

// // .task-single__times
// //   padding 15px
// //   background #edf1f4
// //   display block
// //   clearfix()
// //   width 100%

// // @media screen and (min-width: 680px)
// //   .task-single__time
// //   .task-single__estimate
// //   .task-single__delete
// //   .task-single__date
// //     width 25%
// //     display block
// //   .task-single__times
// //     padding 15px 20px