

<ul>
  <li ng-repeat="card in cards">
    <label>
      <input
        type="checkbox"
        name="selectedCards[]"
        value="{{card}}"
        ng-checked="selection.indexOf(card) > -1"
        ng-click="toggleSelection(card)"
        ng-model="mymodel"
      > {{card.name}}
    </label>

    <div hideon="mymodel">
      <strong>Estimate</strong>
      <span>Hrs</span>
      <input type="text" placeholder="0" ng-model="estimate.hrs"/>
      <span>Mins</span>
      <input type="text" placeholder="00" ng-model="estimate.mins"/>
    </div>
  </li>
</ul>

<a class="btn" ng-click="import()">Import Selected</a>