<h1>Select cards and add an estimate</h1>

<div class="spinner" ng-if="cards.length === 0">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<ul>
  <li ng-repeat="card in cards">
    <label>
      <input
        type="checkbox"
        name="selectedCards[]"
        value="{{card}}"
        ng-checked="selection.indexOf(card) > -1"
        ng-click="toggleSelection(card)"
        ng-model="mymodel"
      > {{card.name}}
    </label>

    <div hideon="mymodel">
      <strong>Estimate</strong>
      <span>Hrs</span>
      <input type="text" placeholder="0" ng-model="card.estimate_hrs"/>
      <span>Mins</span>
      <input type="text" placeholder="00" ng-model="card.estimate_mins"/>
    </div>
  </li>
</ul>

<a class="btn" ng-click="import()" ng-if="cards.length > 0">Import Selected</a>