<div class="wrapper">
  <h1>Choose a list</h1>

  <back-button back="Back to boards"></back-button>

  <div class="spinner" ng-if="lists.length === undefined">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="task" ng-if="lists.length === 0">
    <h3>This list has no lists</h3>
  </div>

  <ul class="list-no-style" ng-model="lists">
    <li ng-repeat="list in lists track by $index" class="task">
      <a href="#/trello/list/{{list.id}}">
        <div class="task__desc">
          <h3>{{list.name}}</h3>
        </div>
      </a>
    </li>
  </ul>
</div>