// header
//   position fixed
//   top 0px
//   right 10px
//   background #363e45
//   padding 10px
//   border-radius 3px 0px 0px 3px
//   color #ffffff
//   .header__login
//     margin-right 20px
//   .header__login
//   .header__signup
//     color #ffffff
//     transition color .3s
//     &:hover
//       color $colorBlue

.menu
  position fixed
  display none