// .bbm-modal
//   position fixed
//   top 0px
//   bottom 0px
//   left 0px
//   right 0px
//   background $colourBG
//   transform scale(1)
//   opacity 1
//   transition all .5s

// .fade-out
//   transform scale(0.8)
//   opacity 0 !important

// .login-form
// .signup-form
//   max-width 400px
//   width 80%
//   margin 200px auto 0px auto
//   display block
//   input
//     background #151F2E
//     color #ffffff
//   .btn
//     width 100%
//     margin-top 20px

// .input-top
//   border-radius 3px 3px 0px 0px

// .input-btm
//   border-radius 0px 0px 3px 3px

// .form__small
//   color #ffffff
//   font-size 15px
//   text-align center
//   margin-top 10px
//   display block

// // .bbm-wrapper
// //   display none
// //   height 100%
// //   width 100%
// //   top 0px
// //   bottom 0px
// //   left 0px
// //   right 0px
// //   background rgba($colorTypePrimary, 0.5)
// //   position fixed
// //   z-index 999999
// //   padding 140px 10px
// //   overflow-x auto
// //   overflow-y scroll

// // .bbm-modal
// //   border-radius: 3px;
// //   margin: auto;
// //   width: auto;
// //   max-width: 550px;
// //   background #ffffff
// //   overflow hidden
// //   .close
// //     color $colorTypeSecondary
// //     margin-right 10px

// // .bbm-views
// //   width: 100%;
// //   box-sizing: border-box;


// // .bbm-modal__topbar
// // .bbm-modal__bottombar
// //   padding: 0 30px;

// // .bbm-modal__topbar
// //   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
// //   margin-bottom: 30px;
// //   background $colorTypePrimary
// //   color #ffffff

// // .bbm-modal__topbar > ul
// //   list-style: none;
// //   text-align: center;
// //   padding: 0;
// //   margin: 0;

// // .bbm-modal__tab
// //   display: inline-block;
// //   padding: 15px 10px
// // .bbm-modal__tab a
// //   font-size: 16px;
// //   font-weight: bold;
// //   color: #999999
// // .bbm-modal__tab a:hover, .bbm-modal__tab a.active
// //   color: #222222

// // .bbm-modal__title
// //   padding: 20px 0 19px;
// //   margin: 0;

// // .bbm-modal__section
// //   padding: 0 30px;
// //   margin-top: 0px;
// //   font-size: 16px;
// //   line-height: 26px;
// //   color: #575656

// // .bbm-modal__bottombar
// //   border-top: 1px solid rgba(0, 0, 0, 0.1);
// //   padding: 18px;
// //   text-align: right;
// //   margin-top: 30px


// // .bbm-modal--open
// //   -webkit-animation-duration 0.12s
// //   -webkit-animation-name bbm-open
// //   -webkit-animation-timing-function linear
// //   // -webkit-animation-fill-mode both
// //   // -webkit-transform-origin 50% 50%
// //   // -webkit-backface-visibility hidden

// // .bbm-modal--close
// //   -webkit-animation-duration 0.12s
// //   -webkit-animation-name bbm-close
// //   -webkit-animation-timing-function linear
// //   // -webkit-animation-fill-mode both
// //   // -webkit-transform-origin 50% 50%
// //   // -webkit-backface-visibility hidden

// // @keyframes bbm-open
// //   0%
// //     transform scale(0.9)
// //     opacity 0
// //   100%
// //     transform scale(1)
// //     opacity 1

// // @keyframes bbm-close
// //   0%
// //     transform scale(1)
// //     opacity 1
// //   100%
// //     transform scale(0.9)
// //     opacity 0