//==============================================================================

// Title:
// Modal Styles

// Description:
// Styling for the modal used throughout the site.

//==============================================================================

.modal
  position fixed
  top 20%
  right 0
  left 0
  width 620px
  z-index 2000
  padding 30px
  margin auto
  border-radius 3px
  // background darken($backgroundColor, 20%)

.modal-backdrop
  position fixed
  top 0%
  left 0%
  right 0%
  bottom 0%
  display block
  background rgba(#e7e4e4, 0.85)