.input--clear
  outline 0
  border 0

input
  font-size 16px

// label
//   width 100%
//   display block

// @media $mediaTablet
//   label
//     width auto
//     display inline-block

// input
//   padding 20px
//   font-size 19px
//   color #282828
//   border none
//   outline none
//   width 100%
//   margin 0
//   font-family "proxima-nova-soft"
//   font-size 20px
//   color #233249
//   font-weight 600
//   outline none
//   &:focus
//     outline none

// .input-time
//   background #ffffff
//   min-width 170px
//   input
//     width 28px
//     padding 20px 10px
//     text-align right
//     min-width 46px

// .input-time-hrs
// .input-time-mins
//   width 20%
//   color #233249
//   font-weight 600

// ::-webkit-input-placeholder
//   color #768690
// :-moz-placeholder
//   color #768690
// ::-moz-placeholder
//   color #768690
// :-ms-input-placeholder
//   color #768690


// .form-label
//   position relative
//   width 100%
//   display block

//   i
//     position absolute
//     top 18px
//     left 20px
//     color $colourBG
//     font-size 24px
//     transition all .3s
//   .fa-user
//     top 21px
//     left 22px
//   .fa-key
//     top 22px

//   input:focus + i
//     color #ffffff

//   input
//     padding-left 65px

input::-webkit-input-placeholder
  color #a2a0a0

input:-moz-placeholder
  color #a2a0a0

input::-moz-placeholder
  color #a2a0a0

input:-ms-input-placeholder
  color #a2a0a0


//   // input:focus::-webkit-input-placeholder
//   //   color #ffffff

//   // input:focus:-moz-placeholder
//   //   color #ffffff

//   // input:focus::-moz-placeholder
//   //   color #ffffff

//   // input:focus:-ms-input-placeholder
//   //   color #ffffff