// .container
//   max-width 940px
//   margin 0 auto
//   width 90%

.wrapper
  max-width 940px
  margin 0 auto
  width 90%

// .task
//   transition background 6s
//   width 100%
//   // padding 150px 0px
//   // height 450px
//   margin-bottom 15px
//   color #455878


// .task-create
// .task-current
// .task-collection
//   @extends .wrapper



// .center
//   width 200px
//   margin 0 auto
//   .btn
//     margin-right 10px

// .wrapper
//   background #e7e4e4
//   border-radius 3px
//   padding 10px