$mediaMobile = "screen and (max-width:420px)"
$mediaTablet = "screen and (min-width:420px)"

$colorRed = #f47271
// $colorRed = #fd6a62
$colorGreen = #00be9e
// $colorGreen = #32b98e
$colorYellow = #fdc162
$colorBlue = #7bb7fa

$colorBeige = #f2f2f2

$colorSuccess = $colorGreen
$colorWarning = $colorYellow
$colorOverdue = $colorRed

$colorTypePrimary = #3d4349
$colorTypeSecondary = #868a8e



// $primaryTypeface = "ff-meta-web-pro", sans-serif
$primaryTypeface = "proxima-nova-soft", sans-serif


$colourBG = $colorBeige
